.wrapper {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    position: relative;
}

.header {
    background-color: #FEA5B0;
}

.main {
    display: flex;
    flex-direction: column;
}

.video-section {
    position: relative;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    display: none;
}

.vjs-mirrored .vjs-tech {
    transform: scaleX(-1);
}

.link-upload-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
}

#youtubeLink {
    width: 90%;
    max-width: 1920px;
    padding: 10px;
    margin-right: 10px;
}

#goButton {
    padding: 10px;
}

.loop-icon {
    width: 100%;
    height: 100%;
}

.mirror-icon {
    width: 100%;
    height: 100%;
}

.video-js .looped-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); 
    pointer-events: none; /* Allow clicks on the underlying progress bar */
}

.footer {
    background-color: #FEA5B0;
}

.vertical-slider {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    border-radius: 50%; 
}




.speed-slider {
    -webkit-appearance: none;
    position: absolute;
    top: -80px;
    right: -44.5px;
    /* writing-mode: vertical-lr; */
    transform: rotate(-90deg);
    width: 130px;
    background: #2B333F;
    border-radius: 5px;
    opacity: 1;
    display: none;
}

.speed-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #EC6273;
    cursor: pointer;
}

.speed-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #EC6273;
    cursor: pointer;
}

.slider-value {
    position: absolute;
    top: 3.75px;
    right: 4.5px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 4px 4px; 
    border-radius: 4px; 
}

.disable-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  