body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

#videoPlayer.video-js {
    width: 854px;
    height: 480px;
    
    justify-content: center; /* Center horizontally */
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoPlayer-dimensions.vjs-fluid {
    padding: 0;
}

.video-js .looped-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); 
    pointer-events: none; /* Allow clicks on the underlying progress bar */
}

#top-section {
    width: 100%;
    height: 100px;
    background-color: #FEA5B0;
    display: flex;
    position: relative;
    top: 0;
    margin-bottom: 200px;
    margin-top: 100px; /* Distance from video element + desired spacing */
    transform: translateY(-100%);
}

.link-container {
    width: 854px;
    height: 480px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */


    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* top: calc(100% - 200px - 210px); */
} 


.slider {
    position: relative;
    width: 500px;
    height: 60px;
    padding: 30px;
    padding-left: 40px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
    margin: auto;
    transform: translateY(-175%);
}





.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#youtubeLink {
    width: 350px;
    padding: 10px;
    margin-right: 10px;
}

#goButton {
    padding: 10px;
}

#video-section {
    display: none;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 85px;
    margin-bottom: 150px;
}


.loop-icon {
    width: 30px;
    height: 30px;
}







.slider label {
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
}

.slider input[type="range"] {
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}

.tick-labels {
    position: absolute;
    bottom: 25px;
    left: 170px;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.tick-labels .label {
    font-size: 15px;
}





#bottom-section {
    width: 100%;
    height: 500px;
    background-color: #FEA5B0;
    display: flex;
    align-items: flex-top;
    justify-content: left;
    position: absolute;
    /* bottom: 0; */
    /* top: calc(100% - 200px + 200px); */
    transform: translateY(165%);
}
